In [4]:
import pandas as pd

In [49]:
# finn API url her: https://data.ssb.no/api/v0/dataset

url = "https://data.ssb.no/api/v0/dataset/1080.csv?lang=no"

df = pd.read_csv(url, sep=";", decimal=",", encoding="ISO-8859-1")
df.head()

,region,alder,år,statistikkvariabel,"07459: Befolkning, etter region, alder, år og statistikkvariabel"
0,3001 Halden,000 0 år,2020,Personer,256
1,3001 Halden,001 1 år,2020,Personer,256
2,3001 Halden,002 2 år,2020,Personer,322
3,3001 Halden,003 3 år,2020,Personer,321
4,3001 Halden,004 4 år,2020,Personer,320

In [50]:
df["age"], df["rest"] = df["alder"].str.split(" ",1).str
df = df.drop(columns = ["rest", "statistikkvariabel", "år", "alder"])
df["age"] = pd.to_numeric(df["age"], errors='coerce')
df.head()

,region,"07459: Befolkning, etter region, alder, år og statistikkvariabel",age
0,3001 Halden,256,0.0
1,3001 Halden,256,1.0
2,3001 Halden,322,2.0
3,3001 Halden,321,3.0
4,3001 Halden,320,4.0

In [57]:
df["gammel"] = df.apply(lambda x: x if x > 65 else 0)
df.head()

TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred at index region')

In [ ]:
df.groupby(["region"])