In [1]:
import pandas as pd
import numpy as np
import plotly
import chart_studio.plotly as py
import chart_studio
chart_studio.tools.set_credentials_file(username='oystein.nerva', api_key='0ODcZ6UisJ8n0AjEQt9N')

In [22]:
url = "https://github.com/NRVA/COVID19_Norge/blob/master/COVID19_fhi_data_fylke.xls?raw=true"
#url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
data = pd.read_excel(url)
data.head()

,Fylke,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2019-03-19 00:00:00
0,Agder,32,34,52,55,67,67,67,75
1,Innlandet,40,49,57,72,81,88,97,105
2,Møre og Romsdal,6,7,16,20,20,20,20,25
3,Nordland,4,5,8,8,11,11,12,13
4,Oslo,166,207,222,281,292,329,348,392

In [23]:
url = "COVID19_fhi_data_fylke.csv"
#url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
data = pd.read_csv(url)
data.head()

  Fylke;12.03.2020;13.03.2020;14.03.2020;15.03.2020;16.03.2020;17.03.2020;18.03.2020;19.03.2019
0                      Agder;32;34;52;55;67;67;67;75
1                 Innlandet;40;49;57;72;81;88;97;105
2              Møre og Romsdal;6;7;16;20;20;20;20;25
3                       Nordland;4;5;8;8;11;11;12;13
4               Oslo;166;207;222;281;292;329;348;392